/* This applies to all body elements */
body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

/* This styles all <h1> elements */
h1 {
    color: navy;
    text-align: center;
}

/* This styles all <button> elements */
button {
    background-color: white;
    border: none;
    padding: 10px 20px 15px 40px; /* top, right, bottom, left (like a clock) */
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

/* This changes the button's style when hovered over */
button:hover {
    background-color: orange;
}
